  <h1>Bienvenido a Sinatra!</h1>
  <p>Intenta el Login para Facebook con mi app</p>

<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '727701067378341',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>   -->

<!-- aqui debe aparecer el boton de like -->
<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
<br>
<hr>
<br>
<style>
  button{
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
  }
</style>
<a href="/auth/facebook"><button class="btn">LogIn</button></a>
<hr>